{% extends "index.html" %}

{% block content %}
    <div class="py-10">
        <h1 class="text-4xl my-10 font-extrabold text-center">Arriendo de inmuebles</h1>
        <h2 class="text-center text-2xl font-extrabold">Login</h2>
    
        <div class="mt-8 mx-auto max-w-md">
            <div class="bg-white py-8 px-4 shadow">
                <form class="space-y-5" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="id_username" class="block text-sm font-medium text-gray-700">Nombre de
                            usuario</label>
                        <div class="w-full px-3 py-2 border border-gray-300 rounded-md">
                            {{ form.username}}
                        </div>
                    </div>
                    <div>
                        <label for="id_password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                        <div class="w-full px-3 py-2 border border-gray-300 rounded-md">
                            {{ form.password }}
                        </div>
                    </div>
                    <button type="submit"
                        class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-3 cursor-pointer rounded-full">
                        Iniciar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}

